 @font-face {
      font-family: 'chicago-font';
      src: local('Chicago'), url('Chicago.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }
body {
    margin: 20px;
    background-color: #00b7ff;
    border-color: black;
    border: 20px solid black;
}
h1 {
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 48px;
    font-family: 'chicago-font', sans-serif;
}
p {
    color: rgb(0, 255, 200);
    font-size: 24px;
    text-align: center;
    font-family: 'chicago-font', sans-serif;
}