 @font-face {
      font-family: 'chicago-font';
      src: local('Chicago'), url('Chicago.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }
body {
    margin: 20px;
    background-color: #919191;
    border-color: rgb(255, 255, 255);
    border: 20px solid black;
}
h1 {
    color: rgb(255, 182, 182);
    text-align: center;
    font-size: 48px;
    font-family: 'chicago-font', sans-serif;
}
p {
    color: rgb(85, 104, 100);
    font-size: 24px;
    text-align: center;
    font-family: 'chicago-font', sans-serif;
}
button {
    font-family: 'chicago-font', sans-serif;
    font-size: 20px;
    padding: 10px 20px;
    background-color: rgb(242, 253, 193);
    border: solid 10px rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    color: rgb(87, 87, 87);
}